@model ContactInfo.Models.ContactId

@{
    ViewBag.Title = "Details";
}

<div id="details"></div>

<br />

<p>
    @Html.ActionLink("Back to Contacts", "Index", "Contacts")
</p>

@Html.Hidden("Id", Model.Id)

@section scripts
{
    <script src="@Url.Content("~/Scripts/Contacts/details.js")"></script>
}


