@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>

<br/>

<table id="contacts" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script src="@Url.Content("~/Scripts/Contacts/readonly.contactlist.js")"></script>
}